<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite thread-count="1" verbose="1" name="AppiumMobileSuite" skipfailedinvocationcounts="false" junit="false"
       parallel="none" data-provider-thread-count="1" annotations="JDK">
    <parameter name="mobileNodeType" value="appium"/>
    <parameter name="seleniumhost" value="0.0.0.0"/>
    <parameter name="seleniumport" value="4723"/>
    <parameter name="runLocally" value="false"/>
    <parameter name="mobileAppLanguage" value="en"/>
    <parameter name="mobilePlatform" value="IOS"/>
    <parameter name="appPath" value="Applications/Tact.app"/>
    <parameter name="mobileDevice" value="iphone:11.2"/>
    <parameter name="mobileDeviceType" value="iPhone X"/>
    <parameter name="newCommandTimeout" value="360"/>

    <test verbose="1" name="appium-mobile-test" annotations="JDK">
        <classes>
            <class name="ai.tact.qa.automation.runner.IOSTactSanityTesting"/>
        </classes>
    </test>
</suite>